extends layout

block search
	form#searchForm.form-wrapper.cf(action="/")
		input(type='text', id='search', placeholder='Search for places...', required='required')
		input(type='text', style='display: none')
		button(type='submit', id='searchButton') Search