doctype 5
html
	head
		title= title		
		meta(name='viewport', content='width=device-width')
		link(href='stylesheets/leaflet.css', rel='stylesheet')
		link(href='stylesheets/style.css', rel='stylesheet')
		link(href='stylesheets/jquery.sidr.dark.css', rel='stylesheet')
	body
		#map
		.site-title
			a(href='/')
				img(src='images/logo.png')
		block search
		#mobile-header
			a#responsive-menu-button(href="#sidr-main")
				img(src='images/menu.png')
		#menu
			ul
				li(class='active')
					a(onclick="showModal('\');$.sidr('close', 'sidr-main');")
						| MAP
				li
					a(onclick="showModal('about');$.sidr('close', 'sidr-main');")
						| ABOUT
				li#bloglink
					a(onclick="showModal('blog');$.sidr('close', 'sidr-main');")
						| BLOG		
		#modalbg(onclick="closeModal()")
		.modal#account
			.modalname
				| ACCOUNT
			#banner
			header
				h1 
					| CADDISFLY
				span
					| WATER&nbsp;QUALITY&nbsp;INFORMATION
			button.close(onclick="closeModal()")
			p.comingsoon
				| Coming Soon
			div.modalclosebtn
				button.btn(onclick="closeModal()")
					| Back to map
		#holder
			#loading
				.spinner
					img(src='images/spinner.gif')
			.chartplace
			.chartsubtitle				
		#legend-content(style='display: none;')
			.my-legend
				.legend-title Water Quality Levels
				.legend-scale
					ul.legend-labels
						li
							span(style='background: #f00;')
							| Danger
						li
							span(style='background: #ff0;')
							| Re-test
						li
							span(style='background: #0f0;')
							| Safe		
		script(src='js/vendor/jquery-1.9.1.min.js')		

		script(src='js/vendor/leaflet.js')
		script(src='js/vendor/leaflet.markercluster.js')
		
		script(src='js/map.js' )
		script(src='js/vendor/d3.v3.min.js')
		script(src='js/stats.js')
		script(src='js/vendor/moment.min.js' )

		script(src='js/vendor/jquery.sidr.min.js')
		script(src='js/main.js')
		script(src='js/search.js' )
	